@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;900&family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  line-height: normal;
  font-family: c;
  cursor: pointer;
  transition: 0.5s;
}
@font-face {
  font-family: PP Cirka;
  src: url(Cirka-Variable.ttf);
}

:root {
  /* fonts */
  --title01-bold: Figtree;
  --font-pp-cirka: "PP Cirka";

  /* font sizes */
  --font-size-23xl: 42px;
  --title01-bold-size: 23px;
  --heading04-bold-size: 28px;
  --title03-semi-bold-size: 16px;
  --body-semi-bold-size: 13px;
  --title02-bold-size: 19px;
  --captions-size: 11px;

  /* Colors */
  --primary-color: #f8f9fd;
  --color-mediumslateblue: #6f57e9;
  --color-white: #fff;
  --color-black: #000;
  --color-blueviolet: #9747ff;
  --color-darkgray-100: rgba(177, 177, 177, 0.6);
  --color-darkgray-200: rgba(163, 163, 163, 0.4);
  --color-darkgray-300: rgba(179, 179, 179, 0.5);
  --color-gray-100: #868686;
  --color-gray-200: #808080;
  --color-gainsboro-100: rgba(218, 218, 218, 0.4);
  --color-dimgray-100: #5c5c5c;
  --color-dimgray-200: #565656;
  --color-plum: #d3b0ff;
  --color-darkslategray-100: #393939;
  --color-darkslategray-200: #363636;
  --color-red: #ff0000;
  --color-lightgreen: #afffad;
  --color-silver: #b9b9b9;

  /* Gaps */
  --gap-922xl: 941px;
  --gap-9xl: 28px;
  --gap-mini: 15px;
  --gap-2xl: 21px;
  --gap-3xs: 10px;
  --gap-7xs: 6px;
  --gap-5xs: 8px;
  --gap-4xs: 9px;
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-6xs: 7px;
  --gap-5xl: 24px;
  --gap-9xs: 4px;
  --gap-10xs: 3px;

  /* Paddings */
  --padding-18xl: 37px;
  --padding-smi-4: 12.4px;
  --padding-lgi-6: 19.6px;
  --padding-3xs: 10px;
  --padding-15xl: 34px;
  --padding-sm: 14px;
  --padding-smi: 13px;

  /* border radiuses */
  --br-smi: 13px;
  --br-sm: 14px;
  --br-32xl: 51px;
  --br-xs: 12px;
  --br-2xs: 11px;
}
